@mixin google-font {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

@mixin default-btn {
  @include google-font;
  font-size: var(--fontsize-button);
  background-image: linear-gradient(
    to right,
    var(--color-btn1),
    var(--color-btn2)
  );
  color: #fff;
  cursor: pointer;
  padding: 1rem;

  &:disabled {
    background-image: linear-gradient(
      to right,
      var(--color-grey-3),
      var(--color-grey-2)
    );
    color: var(--color-font-black);
    cursor: default;
  }
}
